<%= stylesheet_link_tag "application", :media => "all" %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<body>
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container_login">
        <%= link_to image_tag("avatar.jpg")%>
      <form>

        <div>
          <%= f.label :email, class: "login_texto" %><br />
          <%= f.email_field :email, autofocus: true, class:"form-input_login" %>
        </div>

        <div>
          <%= f.label :password, class: "login_texto"%><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-input_login"%>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="remember_me_login">
          <%= f.check_box :remember_me, class:""%>
          <%= f.label :remember_me, class: "remember_login"%>
        </div>
        <% end -%>

        <div>
          <%= f.submit "Log in", class:"btn-login"%>
        </div>
        <% end %>

      </form>
    </div>
      <%= render "devise/shared/links"%>
  </div>
</body>
