<p>
  <strong>ID:</strong>
  <%= @dish.id %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @dish.name %>
</p>

<!-- Mostrando platillos !-->
<div clas="list">
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @dish.id %></td>
        <td><%= @dish.name %></td>
        <td><%= link_to 'Edit', edit_dish_path(@dish) %></td>
        <td><%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Back', Category.find($currentCategory) %>
