<section class="sideBar">
  <div class="added">
    <% i = 0 %>
    <% @orders.each do |order|%>
      <% if order.foods.length > 0 %>
        <% if i == 0 %>
        <div class="not-empty <%= "in_#{order.id}" %>">
        <% else %>
        <div class="not-empty <%= "in_#{order.id} hidden" %>">
        <% end %>
        <% order.foods.each do |f| %>
          <div class="food-in-order" id="food_<%= "#{f.id}" %>">
            <div class="head baseBox">
              <h3><%= "#{f.name}" %></h3>
              <h4>Total: <%= "#{f.total}" %></h4>
            </div>
            <div class="info baseBox">
              <p class="price">Precio: <%= "#{f.price}" %></p>
              <p class="qty"><%= "#{f.quantity}" %> Pedido(s)</p>
              <p class="remove-food" id="remove-food-<%= "#{f.id}" %>">x</p>
            </div>
          </div>
        <% end %>
          <div class="total">
            <h5>Total: <%= "#{order.total}" %> </h5>
          </div>
        </div>
        <% if i == 0%>
          <div class="empty hidden">
            <div class="content">
              <span class="icon-cart"></span>
              <h3>La orden esta vacia</h3>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="not-empty <%= "in_#{order.id}" %> hidden">
        </div>
        <% if i == 0 %>
          <div class="empty">
            <div class="content">
              <span class="icon-cart"></span>
              <h3>La orden esta vacia</h3>
            </div>
          </div>
        <% end %>
      <% end %>
      <% i += 1%>
    <% end %>
  </div>

  <!-- Teclado de modificacion de la orden !-->
  <div class="orderTools">
    <div class="keyboard baseBox">

      <!-- Opciones de pago !-->
      <div class="pay" id="checkout">
        <div class="content">
          <span class="icon-svg"></span>
          <h4>Pagar</h4>
        </div>
      </div>

      <!-- Teclado numerico !-->
      <table class="numeric">
        <tr>
          <th>9</th>
          <th>8</th>
          <th>7</th>
          <th class="dr selected">Cant.</th>
        </tr>
        <tr>
          <th>6</th>
          <th>5</th>
          <th>4</th>
          <th class="dr">Desc.</th>
        </tr>
        <tr>
          <th>3</th>
          <th>2</th>
          <th>1</th>
          <th class="dr">Precio</th>
        </tr>
        <tr>
          <th class="db">+/-</th>
          <th class="db">0</th>
          <th class="db">.</th>
          <th class="db dr">x</th>
        </tr>
      </table>

    </div>
  </div>
</section>
