<% menu_tree = ["Menu"] %>

<!-- Order selection !-->
<section class="orderSelection baseBox">
  <div class="selectOrder icon-plus" id="add">
  </div>
  <div class="selectOrder icon-minus" id="delete">
  </div>
  <% i = 0 %>
  <% @orders.each do |order| %>
  <% i += 1 %>
    <% if i <= 1 %>
    <div class="selectOrder baseBox currentOrder" id="order_<%= "#{order.id}" %>">
      <p class="id"><%= "#{order.id}" %></p>
      <p class="time"><%= "#{order.created_at.localtime.strftime("%H:%M")}" %></p>
    </div>
    <% else %>
    <div class="selectOrder baseBox" id="order_<%= "#{order.id}" %>">
      <p class="id"><%= "#{order.id}" %></p>
    </div>
    <% end %>
  <% end %>
</section>

<%# Seguimiento de categorias dentro del menu #%>
<section class="tracker">
  <ul id="branch">
    <% menu_tree.each do |branch| %>
      <% if branch == "Menu"%>
        <h1 class="icon-home3"></h1>
        <li id="track"><%= branch %></li>
      <% else %>
        <li><%= branch %></li>
      <% end %>
    <% end %>
  </ul>
</section>
